.messenger {
    height: calc(100vh -70px);
    display: flex;
    margin-top: 30px;

}

.chatMenu {
    flex: 3.5;
}

.chatMenuInput {
    width: 80%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
    background-color: rgb(238, 235, 235);
    margin-left: 20px;
    margin-bottom: 40px;


}

.chatBox {
    flex: 0.5;
    width: 100%;


    border-left: 1px solid var(--trekkers-secondary);
    border-right: 1px solid var(--trekkers-secondary);
}

.chatBoxWrappar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.chatBoxTop {
    height: 100%;
  
    top: 0;
    overflow-y: auto;
    max-height: 75vh;
    padding-right: 10px;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
    margin: 30px;
}

.chatSubmitButten {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(238, 235, 235);
    cursor: pointer;

}

.chatOnline {
    flex: 5.5;
}

.chatMenuWrappar {
    flex: 0.3;
    height: 100vh;
}