.people{
    margin-top: 10px;
     align-items: center;
     padding: 10px;
     display:inline-flex;
 }
 
 .peopleImg{
     width: 60px;
     height: 60px;
     border-radius: 50%;
     object-fit: cover;
     margin-right: 10px;
     border-color: black;
     margin-left: 20px;
     border: 1px solid black;
 }
 
 .peopleName{
     font-weight: 500;
 }

 .people button{
     margin-left: 70px;
     width: 150px;
     cursor: pointer;
     background-color: var(--trekkers-primary) !important;
     color: var(--white) !important;
     text-transform: capitalize !important;
     border-radius: 33px !important; 
     padding: 0.5rem 0 !important;
     font-size: 1rem !important;
     border: none !important;
 }

 .people button:hover {
  background-color: var(--trekkers-primary-2) !important;
   }
 
 
 /********/
 .container {
  flex: 0.5;
  width: 100%;
  border-left: 1px solid var(--trekkers-secondary);
  border-right: 1px solid var(--trekkers-secondary);
  text-align: center;
 }
   
   h2 {
     font-size: 24px;
     margin-bottom: 20px;
   }
   
   .search-form {
     display: flex;
     justify-content: center;
     margin-bottom: 80px;
   }
   
   .search-form input[type="text"] {
     flex: 1;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px 0 0 4px;
     font-size: 16px;
     outline: none;
   }
   
   .search-form select {
     padding: 12px 70px;
     background-color: --twitter-primary;
     color: #fff;
     border: none;
     border-radius: 0 4px 4px 0;
     cursor: pointer;
     font-size: 16px;
   }
   
   
   
   .search-result {
     border: 1px solid #ccc;
     border-radius: 4px;
     padding: 10px;
     margin-bottom: 10px;
   }
   
   .search-result h3 {
     margin-top: 0;
     margin-bottom: 5px;
   }
   
   .search-result p {
     margin: 0;
   }
   
   .searchBar{
    display: flex;

   }
   .peopleName .handel{
    margin-left: 0%;
    color: grey;
    font-weight: 500;
    font-size: small;
    display: flex;
    
}

.border0 {
  border-radius: 10px;
  padding: 0; 
  margin-bottom: 3px; 
  text-align: center; 
  margin-left: 60px;
  margin-right: 60px;
  box-shadow: 0 0 10px rgba(14, 7, 7, 0.1);    

}

.border0:hover{
  background-color:  rgb(231, 231, 231);
}



   