.PersonalProfile{
    display: flex;
}

.PersonalProfile__container{
    flex: 0.5;
    width: 100%;
    border-left: 1px solid var(--trekkers-secondary);
    border-right: 1px solid var(--trekkers-secondary);
}

.PersonalProfile__btn_addcountry__container{
    padding: 10px;
}

.btn_addcountry-content{
    padding:  10px 15px;
    border-radius: 33px;
    cursor: pointer;
    background-color: var(--trekkers-primary);
    color: var(--white);
    text-transform: capitalize ;
    font-size: 1.1rem ;
    border: none;
    text-align: center;
}

.btn_addcountry-content:hover{
    background-color: var(--trekkers-primary-2)
}

.btn_addcountry-content span{
    padding-left: 11px;
}

.PersonalProfile__country__container{
    padding: 20px;
}



