.container__navProfile{
    border-bottom: 1px solid var(--trekkers-secondary);
}

.main__navProfile-bgImage{
    width: 100%;
    height: 200px;
}

.main__navProfile-bgImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    @media(max-width: 500px ){
        height: 150px;
    }
    @media(max-width: 425px){
        height: 100px;
    }
}

.main__navProfile-imgUser{
    height: 0px;
}

.photo__profile{
    position: relative;
    top: -60px;
    left: 20px;
    width: 133px;
    height: 133px;
    border-radius: 50%;
    border: 3px solid var(--trekkers-secondary);
    background-color: var(--trekkers-secondary);
    @media(max-width: 500px){
    width: 110px;
    top: -50px;
    }
    @media(max-width: 425px){
    width: 78px;
    top: -30px;
    }
}

.photo__profile img{
    @media(max-width: 500px){
        width: 100px;
    }
    @media(max-width: 425px){
        width: 68px;
    }
}

.btn__editProfile-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.main__dataProfile-User{
    padding: 0 0 10px 0;
    margin-left: 180px;
}

.main__dataProfile-User h2{
    margin-bottom: 0px;
}

.main__dataProfile-User span{
    color: var(--grey-2);
}

.btn_editProfile-content{
    padding:  10px 15px;
    border-radius: 33px;
    cursor: pointer;
    background-color: var(--trekkers-primary);
    color: var(--white);
    text-transform: capitalize ;
    font-size: 1.1rem ;
    border: none;
    text-align: center;
}

.btn_editProfile-content:hover{
    background-color: var(--trekkers-primary-2)
}

.main__dataProfile{
    padding: 15px;
    margin-left: 50px;
}

.main__dataProfile-description{
    padding: 0 0 15px 0;
    line-height: 23px;
}

.main__followBtns{
    display: flex;
}

.main__followBtns div{
    padding: 0 15px 0 0;
}

.followBtn__number{
    padding: 0 5px 0 0;
    font-weight: 700;
    font-size: 16px;
}

.followBtn__text{
    color: var(--grey-2);
}