.notification__container{
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--grey-2);
    padding: 10px 0;
    cursor: pointer;
}
.notification__container-icon{
    width: 32px;
    margin: 0 0px 0 32px;
    color: var(--trekkers-primary);
    font-size: 40px;
}

.notification__container-photo{
    width: 32px;
    margin: 0 12px 0 0px;
}

.notification__container-content{
    width: 100%;
    padding: 0 12px 0 10px;
}
.content__nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.content__nav-data{
    width: 100%;
    height: 22px;
    display: flex;
}
.content__nav-data span{
    height: auto;
    width: auto;
    display: inline;
    line-height: 20px;
    padding: 0 5px 0 0;
    white-space: nowrap;
}

.nav__data-name{
    font-weight: 700;
}
.nav__data-username{
    @media(max-width: 400px){
    display: none;
    }
}
.nav__data-username, .nav__data-time{
    color: var(--grey);
}

.content__nav-settings{
    display: flex;
    align-items: stretch;
    margin: 0 10px 0 10px;
}

.content__text{
    width: 100%;
    min-height: auto;
    margin: 0 10px 0 0;
}

.content__text span:not(.post) {
    font-weight: 700;
}
.post{
    margin-top: 10px;
    width: 425px;
    font-size: small;
    margin-right: 5px;
}
