.container {
    max-width: 800px;
    padding: 20px;
    background-color: --grey;
    border-radius: 8px;
    text-align: center; 
    float: right;
    width: 75%; 
    margin-left: 20px;
    margin: 50px auto 20px;
  
     
}

  .searchPage {
    display: flex;
  
    
  }
  
  .sidebar {
    order: 1; 
    width: 25%; 
    float: left; 
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    outline: none;
  }
  
  .search-form select {
    padding: 12px 70px;
    background-color: rgb(241, 136, 56);
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  .search-form button:hover {
    background-color: #8b3707;
  }
  
  .search-result {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .search-result h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .search-result p {
    margin: 0;
  }
  