.post {
    display: flex;
    padding: 1rem;
    border: 1px solid var(--trekkers-secondary);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--trekkers-secondary);
    margin-bottom: 20px;
}

.post__avatar {
    cursor: pointer;
}

.post__content {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

.post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__names h4,
.post__names h3 {
    margin: 0;
    padding: 0;
}

.post__names {
    display: flex;
    align-items: center;
}

.post__names h3 {
    font-size: 1rem;
    cursor: pointer;
}

.post__names h4 {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    font-weight: 400;
    color: var(--grey-2);
    cursor: pointer;
}

.post__options {
    cursor: pointer;
}

.post__country__title{
    width: 100%;
}

.post__country{
    background-color: var(--trekkers-primary);
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
    margin-top: 1rem;
    color: var(--grey-2);
    padding: 7px;
    display: flex;
    justify-content: center;
}

.post__country__icon{
    font-size: 20px !important;
}

.post__country div{
    padding-top: 5px;
    padding-left: 5px;
}
.post__country span{
    color: black;
}

.post__title{
    background-color: var(--grey);
    border: 2px solid var(--grey-2);
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post__description {
    font-size: 0.9rem;
}

.post__media img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.fav__num{
    margin-right: 10px;
    font-size:x-small;
}

.fav__item{
    float: right;
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.red {
    color: red;
  }

.post__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    margin-right: 7rem;
    margin-left: 7rem;
}