.PersonalProfilePost {
    display: flex;
    padding: 1rem;
    border: 1px solid var(--trekkers-secondary);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--trekkers-secondary);
    margin-bottom: 20px;
}

.post__content {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__titles {
    display: flex;
    align-items: center;
}

.post__titles h3 {
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 12px;
    padding: 0;
}

.post__options {
    cursor: pointer;
    margin-left: 0%
}

.post__media img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
