.notifications{
    display: flex;
}

.notifications__container{
    flex: 0.5;
    width: 100%;
    border-left: 1px solid var(--trekkers-secondary);
    border-right: 1px solid var(--trekkers-secondary);
    height: 100vh;
}
