.conversation {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 70%;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(14, 7, 7, 0.1);
    margin-bottom: 8px;
    border-radius: 10px;
    
}

.conversation:hover {
    background-color: rgb(231, 231, 231);
}

.conversationImg {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border:1px solid black;
}

.conversationName {
    font-weight: 500;
}